@import "tailwindcss";

:root {
  --text: rgb(212, 212, 212);
  --text-h: rgb(231, 231, 240);
  --text-h-s: rgb(192, 192, 192);
  --bg: #000106;
  --border: #2e303a;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}


h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h4 {
  font-family: var(--heading);
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

@layer components {
  .flexcenter {
    @apply flex justify-center items-center;
  }

  .hoverEffect {
    @apply transition-colors duration-200 ease-in-out;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -sm-overflow-style: none;
  scrollbar-width: none;
}